# Node dependencies
client/node_modules/
server/node_modules/
node_modules/
dist/assets/
# Build folders
client/dist/
server/dist/

# Environment files
.env
client/.env
server/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/